<!-- Requires Foundation 4 | visit http://foundation.zurb.com to download -->

<!-- Nav and Banner -->

  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><a href="/events" class="button">See Events</a></li>
        <li><a href="/events/new" class="button">Create an Event</a></li>
      </ul>

      <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->

      <ul class="example-orbit" data-orbit>
  <li>
    <img src="http://www.sherastrology.com/wp-content/uploads/2011/02/potluck1.jpg" />
    <div class="orbit-caption">
      Enjoy time with friends instead of planning.
    </div>
  </li>
  <li>
    <img src="http://tastefoodblog.files.wordpress.com/2011/11/chicken-pesto.jpg" />
    <div class="orbit-caption">
      Bring your favorite dish and make sure no one else brings the same item.
    </div>
  </li>
  <li>
    <img src="http://thestarvingartistfood.files.wordpress.com/2012/10/photo-90.jpg" />
    <div class="orbit-caption">
      Plan the best party.
    </div>
  </li>
</ul>
      <p><img src="http://www.sherastrology.com/wp-content/uploads/2011/02/potluck1.jpg" /></p>
    </div>
  </div>

  <!-- End Nav and Banner -->


  <!-- Main Content Section -->

  <div class="row">

    <div class="large-8 columns">
      <h4>Set up the perfect friendsgiving or potluck with "Plan a Potluck".</h4>
      <p>Stop using google documents to set up who brings what. Simply set up a party with categories for people to pick from and they will be able to add as many food items that they desire.</p>
    </div>

  </div>


  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
      </div>
    </div>
  </footer>
